<%- include('partials/header'); -%>

<ul class="books">
  <li class="book">
    <img src="/magicbook.png" alt="book icon">
    <h4>Level 1</h4>
    <p>Immortality</p>
  </li>
  <li class="book">
    <img src="/magicbook.png" alt="book icon">
    <h4>Level 2</h4>
    <p>Super power</p>
  </li>
  <li class="book">
    <img src="/magicbook.png" alt="book icon">
    <h4>Level 3</h4>
    <p>Transformation</p>
  </li>
  <li class="book">
    <img src="/magicbook.png" alt="book icon">
    <h4>Level 4</h4>
    <p>Lookalike</p>
  </li>
  <li class="book">
    <img src="/magicbook.png" alt="book icon">
    <h4>Level 5</h4>
    <p>Invisibility</p>
  </li>
  <li class="book">
    <img src="/magicbook.png" alt="book icon">
    <h4>Level 6</h4>
    <p>Programming skills</p>
  </li>
</ul>

<%- include('partials/footer'); -%>