<%- include('partials/header'); -%>

<header>
  <div class="book">
    <img src="/magicbook.png" alt="">
  </div>
  <div class="headings">
    <h2>Magic Library</h2>
    <h3>For good things only</h3>
    <a href="/books" class="btn">View Books</a>
  </div>
</header>


<%- include('partials/footer'); -%>